
<div class="product__index__wrapper">
	<div class="catalogue__div">
		<ul>
			<li><strong>Produit</strong></li>
			<li><strong>Prix</strong></li>
			<li><strong>Quantité</strong></li>
		</ul>

		<% @products.each do |product| %>

			<!-- Setting a default value for the quantity of a certain product if the user's cart already contains an item with this product -->

			<% if @cart.items.any?{|i| i.product_id == product.id} %>
				<% item = @cart.items.find_index {|i| i.product_id == product.id} %>
				<% value = @cart.items[item].quantity %>
			<% else %>
				<% value = 0 %>
			<% end %>

			<!-- Create a form for each product, only the one user inputs to will be submitted -->
			
			<%= simple_form_for(@item, remote: true) do |f| %>
				<ul>
					<li><%= product.name %></li>
					<li><%= product.get_ttc_price %> €</li>
					<li><%= f.input :quantity, :label => false, input_html: { min: '0', max: product.get_immediate_stock, value: value}
					  	%>
					</li>

					<%= f.hidden_field :product_id, :value => product.id %>
					<%= f.hidden_field :cart_id, :value => @cart.id %>
				</ul>
			<% end %>
		<% end %>


		<ul>
			<li><strong>TOTAL</strong></li>
			<li id="total_price"><strong>0€</strong></li>
			<li id="total_quantity"><strong>0</strong></li>
		</ul>
	</div>

	<div class="checkout__div">

		<!-- Uncomment to check if cookie works properly -->

		<!-- <p>Cart ID equals: <%= @cart.id %></p>
		<p>Checked_out: <%= @cart.checked_out %></p>
		<p>Cookie ID equals: <%= cookies[:cart_id] %></p> -->


		<%= form_for :random, url: carts_path do |f|%>
			<%= f.hidden_field 'cart_id', :value => @cart.id %>
			<%= f.submit 'Commander', :class => 'closing__button'%>
		<% end %>
	</div>
</div>